# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ferna\Documents\Files\School Files\Cuarto Semestre\Topicos Avanzados de Programación\Unidad2\ProyectoPublicaciones\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
